{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
  %}
 
    <form method="POST">
      <br> 
      <div class="form-group">
        <label for="recipe_name"><strong>Recipe Name:</strong></label>
        <input
          type="text"
          class="form-control"
          id="recipe_name"
          name="recipe_name"
          placeholder="Enter Recipe Name"
        />
      </div>
      <div class="row">
        <div class="col">
          <label  for="source"><strong>Source:</strong></label>
          <select class="custom-select" id="source">
            <option selected>Choose...</option>
            <option value="Instagram">Instagram</option>
            <option value="Youtube">Youtube</option>
            <option value="Book">Book</option>
            <option value="Self">Self</option>
            <option value="Others">Others</option>
          </select>
        </div>
        <div class="col">
          <label class="col-12" for="source_url"><strong>Source Info</strong></label>
          <input class="col-12 form-control" type="text" placeholder="Link/URL/Title/Author">
        </div>
      </div>
      <br>
      <label for="description"><strong>Description</strong></label>
      <textarea class="form-control" id="description" rows="8"></textarea>
      <br>
      <div class="row">
        <div class="col">
          <label for="serving_size"><strong>Serving Size</strong></label>
          <input type="number" class="form-control">
        </div>
        <div class="col">
          <label for="prep_time_mins "><strong>Prep Time</strong></label>
          <input type="number" class="form-control" placeholder="minutes">
        </div>
        <div class="col">
          <label for="cook_time_mins "><strong>Cook Time</strong></label>
          <input type="number" class="form-control" placeholder="minutes">
        </div>
      </div>
      <br>
      <label for="ingredients"><strong>Ingredients</strong></label>
      <textarea class="form-control" id="description" rows="8"></textarea>
      <br>
      <label for="directions"><strong>Directions</strong></label>
      <textarea class="form-control" id="directions" rows="8"></textarea>
      <br>

      <button type="submit" class="btn btn-primary">Save Recipe</button>
    </form>

    

{% endblock %}