{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<div class="text-center">
  <br>
  <img src="https://storage.googleapis.com/social-social-club/logo.png" class="img-fluid" alt="Responsive image"  width=20%>
</div>
<br>
<h3 align="center">WELCOME!</h3>
<hr>
<br>
<p align="center">Next step, complete your full profile! It should only take a minute. </p>
<div class="d-flex justify-content-center">
  <form action="/profile">
  <button type="submit" class="btn btn-primary">Complete my Profile >>> </button>
</form>
</div>
{% endblock %}
